---
channel: stable-2.13

dataScienceClusterComponents:
  codeflare:
    managementState: Removed
  dashboard:
    managementState: Managed
  datasciencepipelines:
    managementState: Managed
  kserve:
    managementState: Managed
    serving:
      ingressGateway:
        certificate:
          type: OpenshiftDefaultIngress
      managementState: Managed
      name: knative-serving
  kueue:
    managementState: Removed
  modelmeshserving:
    managementState: Removed
  ray:
    managementState: Removed
  trainingoperator:
    managementState: Removed
  trustyai:
    managementState: Removed
  workbenches:
    managementState: Managed
