apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: openshift-ai-nightly
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  displayName: OpenShift AI Nightly Catalog
  {{- if .Values.pullSecret }}
  secrets:
  - {{ .Chart.Name }}-pull-secret
  {{- end }}
  grpcPodConfig:
    extractContent:
      cacheDir: /tmp/cache
      catalogDir: /configs
    memoryTarget: 120Mi
    nodeSelector:
      kubernetes.io/os: linux
      node-role.kubernetes.io/master: ""
    priorityClassName: system-cluster-critical
    securityContextConfig: restricted
    tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/master
      operator: Exists
    - effect: NoExecute
      key: node.kubernetes.io/unreachable
      operator: Exists
      tolerationSeconds: 120
    - effect: NoExecute
      key: node.kubernetes.io/not-ready
      operator: Exists
      tolerationSeconds: 120
  {{- if .Values.catalog.manifestHash }}
  image: quay.io/rhoai/rhoai-fbc-fragment@{{ .Values.catalog.manifestHash }}
  {{- else }}
  image: quay.io/rhoai/rhoai-fbc-fragment:{{ .Values.catalog.tag }}
  {{- end }}
  priority: -400
  publisher: Red Hat
  sourceType: grpc
  updateStrategy:
    registryPoll:
      interval: 10m
