channel: fast-3.x

dataScienceClusterInitialization: null

dataScienceCluster:
  components:
    datasciencepipelines: null
    codeflare: null
    modelmeshserving: null
    kserve:
      serving: null
      defaultDeploymentMode: null
      nim:
        managementState: Removed
      rawDeploymentServiceConfig: Headed
      managementState: Managed
    modelregistry:
      registriesNamespace: rhoai-model-registries
      managementState: Managed
    feastoperator:
      managementState: Managed
    trustyai:
      eval:
        lmeval:
          permitCodeExecution: deny
          permitOnline: deny
      managementState: Managed
    aipipelines:
      argoWorkflowsControllers:
        managementState: Managed
      managementState: Managed
    ray:
      managementState: Managed
    kueue:
      defaultClusterQueueName: default
      defaultLocalQueueName: default
      managementState: Unmanaged
    workbenches:
      workbenchNamespace: rhods-notebooks
      managementState: Managed
    dashboard:
      managementState: Managed
    llamastackoperator:
      managementState: Managed
    trainingoperator:
      managementState: Managed

modelServerSizes: null
notebookSizes: null
