{{- if .Values.autoscaling.enabled }}
{{- range $az := .Values.aws.azs }}
{{- with $ }}
---
apiVersion: autoscaling.openshift.io/v1beta1
kind: MachineAutoscaler
metadata:
  name: {{ .Values.cluster.infraID }}-{{ .Values.baseName }}-{{ $az }}
spec:
  {{- if eq $az (include "aws-nvidia-gpu-machinesets.az" $) }}
  minReplicas: {{ .Values.autoscaling.minReplicas }}
  maxReplicas: {{ .Values.autoscaling.maxReplicas }}
  {{- else }}
  minReplicas: 0
  maxReplicas: 0
  {{- end }}
  scaleTargetRef:
    apiVersion: machine.openshift.io/v1beta1
    kind: MachineSet
    name: {{ .Values.cluster.infraID }}-{{ .Values.baseName }}-{{ $az }}
{{- end }}
{{- end }}
{{- end }}
