{{- range $operator, $config := .Values.operators }}
{{- if $config.namespace }}
{{- if $config.operatorGroup }}
{{- if $config.operatorGroup.enabled }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ $operator }}
  namespace: {{ $config.namespace }}
  labels:
    {{- include "install-operators.labels" $ | nindent 4 }}
spec:
  {{- if $config.operatorGroup }}
  upgradeStrategy: {{ $config.operatorGroup.upgradeStrategy | default "Default" }}
  {{- with $config.targetNamespaces }}
  targetNamespaces:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- else }}
  upgradeStrategy: Default
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
