apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}-service
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ .Values.name }}-internal-tls
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: ServerSideApply=true
