{{- with .Values.pullSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: pull-secret
  namespace: openshift-config
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ toJson . | b64enc }}
{{- end }}
