{{- if .Values.kuadrant.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: create-kuadrant
  namespace: {{ .Values.kuadrant.namespace }}
  labels:
    {{- include "rhcl.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: create-kuadrant-kuadrant-admin
  namespace: {{ .Values.kuadrant.namespace }}
  labels:
    {{- include "rhcl.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kuadrants.kuadrant.io-v1beta1-admin
subjects:
  - kind: ServiceAccount
    name: create-kuadrant
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: create-kuadrant-olm-view
  namespace: openshift-operators
  labels:
    {{- include "rhcl.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: aggregate-olm-view
subjects:
  - kind: ServiceAccount
    name: create-kuadrant
    namespace: {{ .Values.kuadrant.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: create-kuadrant-namespace-edit
  namespace: openshift-operators
  labels:
    {{- include "rhcl.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: edit
subjects:
  - kind: ServiceAccount
    name: create-kuadrant
    namespace: {{ .Values.kuadrant.namespace }}
{{- end }}
